<html lang="en">
<head>
</head>
<body>
    <div >
        <header class="header">
            <nav class="nav">
                <div class="logo">Elite Ventures</div>
                <ul class="nav-links">
                    <li><a href="home">Home</a></li>
                    <li><a href="login" class="login-btn">Login</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="hero" class="hero">
                <div class="hero-content">
                    <h1>About Our Shop</h1>
                    <p>Welcome to Elite Ventures, where we believe your clothing experience should be an adventure. At Elite Ventures, we craft apparel that embodies sophistication, style, and the spirit of exploration. Our collections are designed for those who dare to venture beyond the ordinary, offering a blend of timeless elegance and modern innovation. Whether you're conquering the city or exploring new horizons, our clothing ensures you do so with unparalleled confidence and grace. Step into the world of Elite Ventures, where your journey in fashion begins.</p>
                </div>
            </section>

        </main>
</div>
</body>