<div class="landing-page">
 

  <main>
    <section id="hero" class="hero">
      <div class="hero-content">
        <h1>Discover Your Elite Style</h1>
        <p>Elevate your wardrobe with our latest collection</p>
        <!-- Use routerLink for navigation to the product categories page -->
        <button class="cta-button" routerLink="/categories">Shop Now</button>
      </div>
    </section>

    <section id="about" class="about">
      <h2>About Our Shop</h2>
      <p>Welcome to Elite Ventures, where we believe your clothing experience should be an adventure. At Elite Ventures, we craft apparel that embodies sophistication, style, and the spirit of exploration. Our collections are designed for those who dare to venture beyond the ordinary, offering a blend of timeless elegance and modern innovation. Whether you're conquering the city or exploring new horizons, our clothing ensures you do so with unparalleled confidence and grace. Step into the world of Elite Ventures, where your journey in fashion begins.</p>
    </section>
  </main>

  <footer class="footer">
    <div class="copyright">
      &copy; 2024 Elite Ventures. All rights reserved.
    </div>
  </footer>
</div>
